<h2>Bem vindo ao Credit Score!</h2>
<h4>Faça sua análise de crédito</h4>

<div class="options">
    <button nz-button nzType="primary" [routerLink]="['/usuario/novo']">Cadastrar pessoa</button>
</div>


<nz-table #basicTable [nzData]="listOfData" [nzLoading]="listOfData == null">
    <thead>
        <tr>
            <th>Nome</th>
            <th>CPF</th>
            <th>Endereço</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let data of basicTable.data">
            <td>{{ data.nome }}</td>
            <td>{{ data.cpf }}</td>
            <td>{{ data.endereco }}</td>
            <td>
                <a [routerLink]="['/consultar', data.cpf]">Consultar</a>
            </td>
        </tr>
    </tbody>
</nz-table>